.App {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background: linear-gradient(to right, #423f4a, #1f4a4d);
  min-height: 100vh;
  display: flex;
  flex-direction: column;

}

.App-header {
  font-family: 'Measure';
  
  color: white;
  display: flex;
  align-items: center;
}
.App-header img {
  margin-right: -35px;
  width: 150px;
  height: 150px;
}
.App-header .welcome {
  margin-left: auto;
  margin-right: 50px;
}


.container {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}
.container h4{
  background-color: #e3e7ec;
  width: fit-content;
  padding: 7px;
  border-radius: 20px;
  text-transform: uppercase;
  color: #888f96;
  
}
.prompt-section
 {
  width: 40%;
 
  
}
.prompt-section .input-section{
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 9px;
  background-color: #f9f9f9;
}

form {
  display: flex;
  flex-direction: column;
}

textarea {
  width: 90%;
  height: 150px;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  font-size: 16px;
  background-color: #f9f9f9;
}

.buttons {
  display: flex;
  justify-content: space-between;
  background-color: none; /* Ensure no background */
  padding: 0; /* Remove any padding if necessary */
  margin-top: 15px;
  border: none; /* Ensure no border */

}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  font-size: 19px;
}

button[type="button"] {
  background-color: #f9f9f9;
  color: #888f93;
  width: 45%;
}
button[type="submit"] {
  background-color: #888f93;
  color: #f9f9f9;
  width: 45%;
}
button:hover {
  opacity: 0.8;
}
.response-section{
  width: 50%;
  height: 500px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 9px;
  background-color: #f9f9f9;
}
.input{
  text-align: left;
  padding: 15px;
  border-radius: 15px;
  background-color: #007bff;
}
.response {
  text-align: left;
  margin-top: 10px;
  padding: 15px;
  border-radius: 15px;
  background-color: #e3e7ec;
}

